<h1>Mis Mascotas</h1>

<div class="divisor">
  <%= image_tag("ico-perfil48px.png", alt: "Perfil") %>
</div>

<div class="row pets-grid">
  <% @pets.each do |pet| %>
    <div class="col-xs-6 col-sm-4 col-md-3 polaroid">
      <%= link_to pet_path(pet), { style: "background-image: url('#{image_path pet.photo}');" } do %>
        <span class="image-caption"><%= pet.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<div class="add-button">
  <%= link_to (image_tag("plus-72px.png", :alt => "Mi mascota")), new_pet_path %>
</div>
