.services {
  #map-canvas {
    width:  100%;
    height: 200px;
    background-color: #ccc;
  }

  ul {
    list-style: none;
    margin:  0;
    padding: 5px 0;

    li {
      margin:  10px 0;
      padding: 10px;
      background-color: #2fb2d1;
      color: #555;

      h3 {
        margin-top: 0;
        color: #333;
        display: inline-block;
      }

      .category-veterinario {
        background-color: #435b67;
      }

      .category-tienda {
        background-color: #f58d40;
      }

      .category-pension {
        background-color: #1eada2;
      }

      a, a:hover, a:visited, a:active {
        text-transform:  none;
        color: #555;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}

.service {
  #map-canvas {
    width:  100%;
    height: 200px;
    background-color: #ccc;
  }
}
